<!-- CV.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    
    <!-- Importmap para Three.js y addons -->
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
          }
        }
    </script>
    
    <!-- Scripts de JavaScript -->
    <script type="module" src="{{ url_for('static', filename='JS/avatar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='JS/app.js') }}"></script>
    
    <title>LP Desarrollador Web</title>
</head>

<body>
    {% include 'components/inicio.html' %}
    {% include 'components/info.html' %}
    {% include 'components/servicios.html' %}
    {% include 'components/habilidades.html' %}
    {% include 'components/portafolio.html' %}
    {% include 'components/contacto.html' %}
    {% include 'components/footer.html' %}
</body>

</html>
